# Exercícios _ Pandas day -1

1. Converta a seguinte lista de dados para uma Séries Pandas e Obtenha:
    - Média
    - Desvio Padrão
    - Máximo Valor

    dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]

In [2]:
# Resolução 
import pandas as pd
dados = [10, 20, 42, 9, 12, 35, 24, 10, 8, 14, 21]

serie_dados = pd.Series(dados)

serie_dados.describe()

count    11.000000
mean     18.636364
std      11.271847
min       8.000000
25%      10.000000
50%      14.000000
75%      22.500000
max      42.000000
dtype: float64

In [6]:
# Média

media = serie_dados.mean()
print(f'A média dos dados é: {media:.2f}')

A média dos dados é: 18.64

In [8]:
# Desvio Padrão

desvio = serie_dados.std()
print(f'O desvio padrão dos dados é: {desvio:.2f}')

O desvio padrão dos dados é: 11.27

In [12]:
maior = serie_dados.max()

print(f"O maior valor da série é: {maior}")

O maior valor da série é: 42

2. Converta o seguinte dicionário em DataFrame e obtenha:
    - Sumário de cada coluna
    - média da coluna idade
    - último nome da coluna nome

    dados = {"nome": ["Jhon", "Nah", "Napoleão"], "idade": [31,32,14]}

In [15]:
# Conversão em data frame
dados = {"nome": ["Jhon", "Nah", "Napoleão"], "idade": [31,32,14]}
df = pd.DataFrame(dados)
df

       nome  idade
0      Jhon     31
1       Nah     32
2  Napoleão     14

In [16]:
df.describe()

           idade
count   3.000000
mean   25.666667
std    10.115994
min    14.000000
25%    22.500000
50%    31.000000
75%    31.500000
max    32.000000

In [17]:
# Sumário 
df.dtypes

nome     object
idade     int64
dtype: object

In [23]:
media = df['idade'].mean()
print(f"A média das idades é de: {media:.2f} anos.")

A média das idades é de: 25.67 anos.

In [26]:
ultimo_nome = df['nome'].iloc[2]
print(f"O último nome é: {ultimo_nome}")

O último nome é: Napoleão